<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.cheney.test">

    <application
        android:name="cn.cheney.test.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="cn.cheney.test.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity android:name="cn.cheney.test.TestActivity1">

            <intent-filter>
                <data
                    android:host="m.aliyun.com"
                    android:scheme="arouter" />
            </intent-filter>

        </activity>
        <activity android:name="cn.cheney.test.TestActivity2" />

    </application>

</manifest>